{%extends 'base.html'%}

{%block content%}

{%with messages = get_flashed_messages()%}
    {%if messages%}
        {%for message in messages%}
        <hr>
        <ul>
            <li>{{message}}</li>
        </ul>
         <hr>
        {%endfor%}
    {%endif%}
{%endwith%}
    
    <h1> Сброс пароля </h1>
    
    <form action = '' method = 'post' novalidate>
    
        {{form.hidden_tag()}}
        
        <p>
            {{form.first_password.label}}
            {{form.first_password(size = 32)}}
            {%for error in form.first_password.errors%}
                <span style = 'color:red;'> {{error}} </span>
            {%endfor%}
        </p>
        
        <p>
            {{form.repeat_password.label}}
            {{form.repeat_password(size = 32)}}
            {%for error in form.repeat_password.errors%}
                <span style = 'color:red;'> {{error}} </span>
            {%endfor%}
        </p>
        
        <p>
            {{form.submit()}}
        </p>
    
    
    </form>

{%endblock%}