{%extends 'base.html'%}

{%block content%}

    {%with messages = get_flashed_messages()%}
        {%if messages%}
            {%for message in messages%}
            <hr>
            <ul>
                <li>{{message}}</li>
            </ul>
             <hr>
            {%endfor%}
        {%endif%}
    {%endwith%}

    {%if form%}
    
        <form action = '' method = 'post' novalidate>
            {{form.hidden_tag()}}
        <p>    
            {{form.post.label}} <br>
            {{form.post(cols = 32, rows = 4)}} <br>
            {%for error in form.post.errors%}
                <span style = 'color: red;'> {{error}} </span>
            {%endfor%}
        </p>    
            <p> {{form.submit()}} </p>
        </form>
        
        <h1> Посты </h1>
        
        <p>
            {%for post in posts%}
                {%include '_post.html'%}
            {%endfor%}
        </p>
        
        {%if prev_page%}
            <a href = '{{prev_page}}'> Предыдущяя страница </a>
        {%endif%}
        
        {%if next_page%}
            <a href = '{{next_page}}'> Следующая страница </a>
        {%endif%}
        
        <h1> Список зарегистрированных пользователей </h1>
        
        {%for user in users%}
            <p> <a href = 'http://localhost:5000/auth/user/{{user.username}}'> {{user.username}} </a> </p>
        {%endfor%}
        
    {%else%}
        <p>
            {%for post in posts%}
                {%include '_post.html'%}
            {%endfor%}
        </p>
        
        {%if prev_page%}
            <a href = '{{prev_page}}'> Предыдущяя страница </a>
        {%endif%}
        
        {%if next_page%}
            <a href = '{{next_page}}'> Следующая страница </a>
        {%endif%}
    {%endif%}
    
{%endblock%}
